---
import Layout from "../layouts/Layout.astro";
import ProjectWrapper from "../layouts/ProjectWrapper.astro";


const images = [
  {
    src: "DUREX/1.webp",
    alt: "durex1",
  },
  {
    src: "DUREX/2.webp",
    alt: "durex2",
  },
  {
    src: "DUREX/3.webp",
    alt: "durex3",
  },
];
---

<Layout title="Durex XL" description="Durex XL" favicon="DUREX.webp">
  <ProjectWrapper>
    <section
      aria-label="Proyectos"
      class="grid gap-x-6 gap-y-3 grid-cols-1 md:grid-cols-3 px-7 md:px-5 md:h-lvh pt-[50px] md:pt-[90px] pb-11 md:pb-0"
    >
      {
        images.map((image: any) => (
          <section class="image-section">
            <img
              src={image.src}
              alt={image.alt}
              class="full-width-image"
              loading="lazy"
            />
          </section>
        ))
      }
    </section>
  </ProjectWrapper>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
  }
</style>
