---

interface Props {
	image: string
	href: string
	alt: string
}

const { image, href, alt } = Astro.props
---

<a
	href={href}
	class="card block w-full h-full transition-transform duration-300 ease-in-out hover:shadow-lg"
>
	<div class="image-container">
		<img src={`/${image}.webp`} alt={alt} class="w-full h-full object-contain" transition:name={`image-${href}`} />
	</div>
</a>

<style>
	.card {
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
	}
	.card:hover {
		transform: scale(1.05);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	}
	.image-container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.image-container img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
</style>
